extends ../../includes/wrapper.pug
block view
  - var view = {slug: 'typewriter'}
 
block body
  - var a = 'flights'.split('');
  - var b = 'of'.split('');
  - var c = 'fancy'.split('');
  - var i = 0 



  h1.name 
    a.name-link(href="https://mileselliott.me") Miles.
  h1.phrase
   span.flights.word
    while i < a.length
     span.letter= a[i]
      - i++
   span.of.word
    - i = 0
    while i < b.length
     span.letter= b[i]
      - i++
   span.fancy.word
    - i = 0
    while i < c.length
     span.letter= c[i]
      - i++