extends ../../includes/wrapper.pug
block view
  - var view = {slug: 'grid'}
 
block body
  - var i = 14 



  h1.name 
    a.name-link(href="https://mileselliott.me") Miles.
  #grid.grid
    include svg/grid-letter-01.svg
    include svg/grid-letter-02.svg
    include svg/grid-letter-03.svg
    include svg/grid-letter-04.svg
    include svg/grid-letter-05.svg
    include svg/grid-letter-06.svg
    include svg/grid-letter-07.svg
    .grid-item
    .grid-item
    .grid-item
    include svg/grid-letter-08.svg
    include svg/grid-letter-09.svg
    .grid-item
    .grid-item
    .grid-item
    include svg/grid-letter-10.svg
    include svg/grid-letter-11.svg
    include svg/grid-letter-12.svg
    include svg/grid-letter-13.svg
    include svg/grid-letter-14.svg
    